body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#page-title {
  text-align: center;
  color: #333;
}

#page-content {
  margin: 0 auto;
  padding: 20px;
}

#page-content > * {
  margin-bottom: 20px;
}

#master-volume-wrapper {
  margin-bottom: 20px;
}

#master-volume {
  min-width: 300px;
  width: 30%;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #666;
}

#rooms-wrapper {
  display: flex;
  justify-content: space-between;
}

.room {
  width: 48%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.room,
.cart,
.outrocart {
  background-color: beige;
}

.title {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-align: center;
}

.sound-title {
  display: block;
  margin-top: 10px;
  color: #666;
}

button {
  background-color: darkred;
  color: #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
}

#outro-container {
  background-color: cadetblue;
}

#cartwall-container {
  background-color: lightgray;
}

.room,
#outro-container,
#cartwall-container {
  padding: 10px;
  border-radius: 20px;
}

.cart,
.outrocart {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.cart > *,
.outrocart > * {
  margin-bottom: 5px;
}

.cart-button-wrapper {
  margin-top: auto;
}

#outros,
#cartwall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.yellow {
  background-color: khaki;
}

.orange {
  background-color: #f29019;
}

/***************************/
/* VVV Language switch VVV */
/***************************/

#lang-switch {
  position: absolute;
  top: 22px;
  left: 15px;
  display: inline-block;
  margin: 0 5px;
}

#lang-switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: darkred !important;
}

input.check-toggle-round-flat:checked ~ .on {
  color: beige !important;
}

#lang-switch > span.on {
  left: 0;
  padding-left: 2px;
  color: darkred;
}

#lang-switch > span.off {
  right: 0;
  padding-right: 4px;
  color: beige;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: darkred;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: darkred;

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: beige;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

/* Tooltip stuff */
.tooltipbutton {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltipbutton .tooltip {
  top: -10px;
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;

  transform: translate(-50%, -100%);
}

.tooltipbutton.active .tooltip {
  visibility: visible;
}

progress {
  width: 100px;
}

.progress {
  display: flex;
}
